h1 {
    border: 10px solid rgb(124, 178, 186);
    margin: 10px;
  }
.firstline {
  color: blue;
}
.secondline {
    color: gray;
  } 
.thirdline {
    color: green; font-size: 8px; font-style: italic;
  }
.fourthline {
    color: orange; font-weight: bold; text-align: right;
  }
.fifthline {
    color: pink; text-align: justify; text-justify: inter-character; font-family: Tahoma;
  } 
.sixthline {
    color: purple; font-family: 'Roboto', Helvetica, Sans-serif; text-decoration: underline;
  }
.seventhline {
    color: pink; background-color: yellow; font-weight: bold; font-family: 'Comic Sans Ms', "Comic Sans", 'cursive'; line-height: 25px;
  }

ul > li:nth-of-type(even) { color: blueviolet; font-weight: bold;} 

ul > li:nth-of-type(odd) { color: green;}

ul ~ p:nth-of-type(4) { background-color: pink;}

p:nth-of-type(5) { background-color: orange;}
  